name: Multiple Jobs 

on: workflow_dispatch 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: echo "Project is being build."
        
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Testing Step
        run: echo "Project is being tested."
        
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment Step
        run: echo "Project is being deployed."
