name: Multiple Jobs

on:
  push:
    branches:
      - main
      - feature
  pull_request:
    types:
      - opened
    branches:
      - main
      - feature

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - name: Check file
        uses: actions/checkout@v4
      - name: File Check
        run: cat index.html

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Stage
        run: print("App is being build in python")
        shell: python

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: App Tested
        run: echo "App is being tested by ${{ vars.MY_NAME }}."

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deployment Stage
        run: echo "App is being deployed using docker password ${{ secrets.DOCKER_PASSWORD }}."
