name: Multiple Jobs 

on: workflow_dispatch 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Stage
        run: print("App is being build in python")
        shell: python 
      
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: App Tested 
        run: echo "App is being tested."
    
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deployment Stage
        run: echo "App is being deployed."
