name: Build and Deploy 

on:
  push:
    branches: 
      - main
  pull_request:
    types:
      - opened 
      - synchronize

jobs:
  build: 
    runs-on: ubnutu-latest
    steps:
      - name: "Build Stage"
        if: github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main'
        run: echo "This is the build stage."
        
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Deploy Stage"
        if: github.event_name == 'push' && github.ref_name == 'main'
        run: echo "This is the deploy stage."
